body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100vw;
}
@media screen and (max-width: 600px) {
    .extrait1, .extrait2, .extrait3 {
        width: 50%;
    }
}



#menu {
	background: #000000;
	height: 45px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: transparent;
}


#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: center;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BF";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}




.titre1 {
    color: rgb(255, 255, 255);
    font-family: 'Candara', sans-serif;
    width: 350px;
    padding: 1px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: appeartitre 1s both;
    animation-delay: 0.5s;
}

@keyframes appeartitre {
    0% {
        top: 80%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}






.container1 {
    height: 100px; 
}

.content1 {
    color: rgb(255, 255, 255);
    font-family: 'Candara', sans-serif;
    padding: 1px;
    position: absolute;
    top: 100%;
    left: 20%;
}


.container2 {
    height: 100px; 
}

.content2 {
    color: rgb(255, 255, 255);
    font-family: 'Candara', sans-serif;
    padding: 1px;
    position: absolute;
    top: 170%;
    left: 20%;
}


.container3 {
    height: 100px; 
}

.content3 {
    color: rgb(255, 255, 255);
    font-family: 'Candara', sans-serif;
    padding: 1px;
    position: absolute;
    top: 260%;
    left: 20%;
}


.container4 {
    height: 100px; 
}

.content4 {
    color: rgb(255, 255, 255);
    font-family: 'Candara', sans-serif;
    padding: 1px;
    position: absolute;
    top: 320%;
    left: 20%;
}


.container5 {
    height: 100px; 
}

.content5 {
    color: rgb(255, 255, 255);
    font-family: 'Candara', sans-serif;
    padding: 1px;
    position: absolute;
    top: 380%;
    left: 20%;
}


.container6 {
    height: 100px; 
}

.content6 {
    color: rgb(255, 255, 255);
    font-family: 'Candara', sans-serif;
    padding: 1px;
    position: absolute;
    top: 435%;
    left: 20%;
}


.container7 {
    height: 100px; 
}

.content7 {
    color: rgb(255, 255, 255);
    font-family: 'Candara', sans-serif;
    padding: 1px;
    position: absolute;
    top: 430%;
    left: 20%;
}



.hidden-text1, .hidden-text2, .hidden-text3, .hidden-text4, .hidden-text5, .hidden-text6, .hidden-text7, .hidden-text9, .hidden-text10, .hidden-text11, 
.hidden-text12, .hidden-text13, .hidden-text14, .hidden-text15, .hidden-text16, .hidden-text17, .hidden-text18, .hidden-text19, .hidden-text20, .hidden-text21, 
.hidden-text22, .hidden-text23, .hidden-text24, .hidden-text25, .hidden-text26, .hidden-text27, .hidden-text28, .hidden-text29, .hidden-text30,.hidden-text31, .hidden-text32, 
.hidden-text33 , .hidden-text34, .hidden-text35, .hidden-text36, .hidden-text37, .hidden-text38, .hidden-text39, .hidden-text40, .hidden-text41, .hidden-text42, .hidden-text43{
    opacity: 0; 
    transition: opacity 4s ease; 
}

.visible1, .visible2, .visible3, .visible4, .visible5, .visible6, .visible7, .visible9, .visible10, .visible11, .visible12, .visible13, .visible14, .visible15, 
.visible16, .visible17, .visible18, .visible19, .visible20, .visible21, .visible22, .visible23, .visible24, .visible25, .visible26, .visible27, .visible28, .visible29, .visible30, 
.visible31, .visible32, .visible33, .visible34, .visible35, .visible36, .visible37, .visible38, .visible39, .visible40, .visible41, .visible42, .visible43 {
    opacity: 1; 
}


.realisation{
	color: white;
	font-family: 'Candara', sans-serif;
	position: absolute;
	margin-top: 115%;
	left: 20%;
}



.copyright{
    color: white;
    opacity: 1;
    font-family: 'Candara', sans-serif;
    left: 48%;
    top:540%;
    position: absolute;
}



